doctype html
head
    link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
body
    #main
    script(src="js/bundle.js")
